<div class='messages' ng-controller='messageCtrl'>
	<form id='messageForm' ng-submit="postMessage()">
		<input id='messageInput' placeholder='Post to board' class="form-control" ng-model='textToPost'>
		<button id='messageSubmit' class="btn btn-danger">Post Message</button>
	</form>
  <ul id='messageList' class='list-unstyled'> 
    <li ng-repeat='msg in messages'>
      <div class='user h4'ui-sref='user({user: this.msg.userId})'>{{msg.name}}:</div> 
      <div class='message h5'>{{msg.message}}</div>
    </li>
  </ul>
</div>
